[Unit]
Description=Scoring Engine Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/opt/scoring/run.sh

[Install]
WantedBy=multi-user.target
